/* @import "reset.css"; */

* {
  padding: 0;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 20px;
}

*:not(header, main, footer, body, html) {
  padding: 5px;
  margin: 5px;
}

header {
  min-height: 80px;
}
main {
  box-sizing: border-box;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  min-height: calc(100vh - 130px);
  padding: 10px;

  display: flex;
  justify-content: center;
  align-items: stretch;

  & > * {
    flex-grow: 1;
  }
}
footer {
  min-height: 150px;
  padding: 20px;
  text-align: center;
}

.loading {
  height: 100%;
  background-color: yellow;
  background-color: dodgerblue;

  display: flex;
  justify-content: center;
  align-content: stretch;
  flex-wrap: wrap;

  & > * {
    font-size: 3vh;
    color: gray;
  }
}

.stories {
  display: flex;
  justify-content: center;
  align-items: stretch;

  .stories_menu {
    flex-grow: 1;
  }
  .stories_main {
    flex-grow: 3.5;
  }
}

fieldset {
  background-color: rgba(100, 100, 200, 0.075);
}
